<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IOT</title>
  <link rel="stylesheet" href="/style/dashboard.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

  <nav class="navbar fixed-top navbar-expand-lg bg-transparent" style="text-align: left" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="/"><img src="/LogoIO7.png" alt="LogoIO7" class="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ms-4 me-3">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item ms-4 me-3">
            <a class="nav-link active" href="/profile">Profile</a>
          </li>
          <li class="nav-item ms-4 me-3 logout-button">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-dashboard">
    <div class="row">
      <div id="StatusDashboard" class="status-dashboard col">
        <h5 id="StatusDT">Status Gas</h5>
        <div class="status-dashboard-text">
          <h1 id="Bahaya" style="display: none;">Terjadi Kebocoran!!!</h1>
          <h1 id="Waspada" style="display: none;">Waspada!</h1>
          <h1 id="Aman">Aman</h1>
        </div>
      </div>
      <div class="button-dashboard col">
        <h5>Switch Kipas</h5>
        <label class="switch">
          <input type="checkbox" id="SwitchOnOff" />
          <span class="slider switchOnOff"></span>
        </label>
      </div>
      <div class="volume-dashboard col">
        <h5>Volume Gas</h5>
        <div class="volume-dashboard-text ">
          <h3 id="VolumeGas">999</h3>
          <h3 id="SatuanPPM">PPM</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grafik-dashboard col">
        <h5>Grafik Volume</h5>
        <select name="dates" id="date">
          <% data.forEach(function(datas){ %>
            <option value="<%= datas.Date %>">
              <%= datas.Date %>
            </option>
            <% }) %>
        </select>
        <div class="my-chart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  </body>

  <footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
      crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var socket = io();

      //membuat grafik menunjukkan data hari ini
      document.getElementById("date").selectedIndex = document.getElementById("date").length - 1;
      socket.emit("date", document.getElementById("date").value);

      function UpdateVolumeGas(data) {
        document.getElementById("VolumeGas").innerHTML = data;
      }

      socket.on("message", function (data) {
        UpdateVolumeGas(data);

        if (data >= 550) {
          document.getElementById("SwitchOnOff").checked = true;
          document.getElementById("Bahaya").style.display = "block";
          document.getElementById("Waspada").style.display = "none";
          document.getElementById("Aman").style.display = "none";
          document.getElementById("StatusDashboard").style.backgroundColor = "#ed0505";
          document.getElementById("StatusDT").style.backgroundColor = "#fff";
          document.getElementById("StatusDT").style.color = "#000";
          document.getElementById("VolumeGas").style.color = "#ed0505";
          document.getElementById("SatuanPPM").style.color = "#ed0505";
        } else if (data >= 500 && data < 550) {
          document.getElementById("Bahaya").style.display = "none";
          document.getElementById("Waspada").style.display = "block";
          document.getElementById("Aman").style.display = "block";
          document.getElementById("StatusDashboard").style.backgroundColor = "#FFA500";
          document.getElementById("StatusDT").style.backgroundColor = "#9932CC";
          document.getElementById("StatusDT").style.color = "#fff";
          document.getElementById("VolumeGas").style.color = "#FFA500";
          document.getElementById("SatuanPPM").style.color = "#FFA500";
        } else {
          document.getElementById("Bahaya").style.display = "none";
          document.getElementById("Waspada").style.display = "none";
          document.getElementById("Aman").style.display = "block";
          document.getElementById("StatusDashboard").style.backgroundColor = "#00f3aa";
          document.getElementById("StatusDT").style.backgroundColor = "#9932CC";
          document.getElementById("StatusDT").style.color = "#fff";
          document.getElementById("VolumeGas").style.color = "#00f3aa";
          document.getElementById("SatuanPPM").style.color = "#00f3aa";
        }
        if (document.getElementById("date").selectedIndex === document.getElementById("date").length - 1) {
          socket.emit("date", document.getElementById("date").value);
        } else {
          return;
        }
      });

      document.getElementById("SwitchOnOff").addEventListener("click", function () {
        if (document.getElementById("SwitchOnOff").checked == false) {
          socket.emit("switchOnOff", "off");
        }
      });

      // Mencoba Grafik
      const Ctx = document.getElementById('myChart');

      const ChartStyle = {
        labels: [],
        datasets: [
          {
            label: 'Volume Gas',
            data: [],
            borderWidth: 3,
            reponsive: true,
            cubicInterpolationMode: 'monotone',
            fill: true,
            backgroundColor: '',
            borderColor: '',
            pointRadius: 0,
          }]
      }

      const ChartConfig = {
        type: 'line',
        data: ChartStyle,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          aspectRatio: 3.5,
        }
      }

      const ChartVolume = new Chart(Ctx, ChartConfig);

      function UpdateChart(data) {
        let timeArray = [];
        let volumeArray = [];
        data.forEach(function (datas) {
          timeArray.push(datas.time);
          volumeArray.push(datas.volume);
        });
        ChartStyle.labels = timeArray;
        ChartStyle.datasets[0].data = volumeArray;
        ChartStyle.datasets[0].backgroundColor = 'rgba(153, 50, 204, 0.2)';
        ChartStyle.datasets[0].borderColor = '#9932CC';
        ChartVolume.update();
      }

      socket.on("chart", function (data) {
        UpdateChart(data);
      });

      document.getElementById("date").addEventListener("change", function () {
        const date = document.getElementById("date").value;
        socket.emit("date", date);
      });
    </script>
</head>

<body>
  </footer>

</html>