<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="text-align: left;">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ms-4 me-3">
                        <a class="nav-link active" href="/Spec">Spesifikasi Teknis</a>
                    </li>
                    <li class="nav-item ms-4 me-3">
                        <a class="nav-link active" href="/Dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <h3><b>Desain Fisik:</b></h3>
    <hr>
    <img src="./public/desain.jpg" alt="">
    <ul style="list-style-type: none;">
        <li>Material: Plastik tahan api dengan perlapisan khusus</li>
        <li>Dimensi: Compact dan mudah dipasang</li>
    </ul>
    <br>
    <h3><b>Mikrokontroler:</b></h3>
    <hr>
    <img src="../public/NodeMCU.png" alt="">
    <ul style="list-style-type: none;">
        <li>Model : NodeMCU ESP8266</li>
        <li>NodeMCU Size : 49mm x 26mm</li>
        <li>Clock Speed : 80 MHz</li>
        <li>Flash Memory/SRAM: 4 MB / 64 KB</li>
        <li>Operating Voltage : 3.3V</li>
        <li>Input Voltage : 4.5V - 10V</li>
        <li>ADC Range : 0-3.3V</li>
    </ul>
    <br>
    <h3><b>Sensor Deteksi Gas:</b></h3>
    <hr>
    <img src="../public/GasDetector.jpeg" alt="">
    <ul style="list-style-type: none;">
        <li>Jenis Sensor: Sensor multigas cerdas</li>
        <li>Gas yang Dideteksi: Metana, Propana, Karbon Monoksida, Gas Alam LPG, dan lainnya</li>
        <li>Teknologi:teknologi kepekaan dengan tinggi</li>
    </ul>
    <br>
    <h3><b>Sistem Pencegahan Otomatis:</b></h3>
    <hr>
    <img src="../public/Kipas.jpeg" alt="">
    <ul style="list-style-type: none;">
        <li>Kipas Penghisap: Mengaktifkan kipas penghisap secara otomatis setelah deteksi risiko kebocoran gas,
            memastikan respons instan. Dan juga kipas penghisap dapat disesuaikan dengan konteks situasi, memastikan
            tindakan yang tepat sesuai dengan tingkat bahaya.</li>
    </ul>
    <br>
    <h3><b>Konektivitas:</b></h3>
    <hr>
    <img src="" alt="">
    <ul style="list-style-type: none;">
        <li>Protokol Koneksi: Wi-Fi 802.11 b/g/n</li>
        <li>Pemantauan Jarak Jauh: Pemantauan real-time dari perangkat seluler di mana saja</li>
        <li>Teknologi:teknologi kepekaan dengan tinggi</li>
    </ul>
    <br>
    <h3><b>Daya dan Konsumsi:</b></h3>
    <hr>
    <img src="" alt="">
    <ul style="list-style-type: none;">
        <li>Sumber Daya: Listrik AC atau Baterai (opsional)</li>
        <li>Konsumsi Daya: Efisiensi energi untuk penggunaan jangka panjang</li>
    </ul>
</body>

<footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        crossorigin="anonymous"></script>
</footer>

</html>